[workspace.package]
edition = "2024"
version = "0.1.0"

[workspace]
resolver = "2"

members = [
  "json-data-cache",
]

[profile.dev]
debug = true
debug-assertions = false
overflow-checks = false
codegen-units = 512
